@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

a:link,
a:visited {
  color: #000;
}

a:hover {
  color: #09f;
}

html {
  text-align: center;
}

body {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  display: inline-block;
  margin: 1em;
}

h1 {
  font-size: 30px;
  margin: 0.5em;
}

@font-face {
  font-family: "アンニャントロマン";
  src: local("アンニャントロマン"), url("../font/toroman.woff") format("woff"), url("../font/toroman.ttf") format("truetype");
}

h1 span {
  font-family: "アンニャントロマン";
}

table {
  border-spacing: 0px;
}

th {
  text-align: center;
  padding: 0 10px;
  border-bottom: solid 1px #888;
  border-left: solid 1px #888;
}

tr:first-of-type th {
  border-bottom: solid 4px #666;
  border-left-width: 0;
}

tr td:first-of-type {
  text-align: left;
}

tr td:not(:first-of-type) {
  font-family: "Arial"
}

td {
  text-align: right;
  border-bottom: solid 1px #888;
  padding: 0 6px;
}

td:last-of-type {
  border-right: solid 1px #666;
}

td:nth-of-type(1),
td:nth-of-type(3) {
  border-right: solid 1px #bbb;
}

.item_name {
  color: #333;
}

.combo {
  width: 30px;
}

.red {
  background: #ff9b9b;
}

.blue {
  background: #9de8ff;
}

.green {
  background: #bbffaf;
}

.yellow {
  background: #f8ff96;
}

.purple {
  background: #e3adff;
}