@charset "utf-8"; 

* {
  margin    : 0;
  padding   : 0;
  border    : 0;
  font-size : 100%;
}

body {
  font-family : "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  margin : 1em;
}

h1 {
	font-size : 30px;
}

h1 span {
 display:inline-block;
 position:relative;
 }

table {
	border-spacing : 0px;
	border-top : solid 1px  #000;
	border-left : solid 1px  #000;
}


th {
	text-align:left;
	border-right : solid 1px  #000;
	border-bottom : solid 1px  #000;
	padding : 0 10px;
}

tr td:first-of-type {
	text-align : left;
}

tr td:not(:first-of-type) {
  font-family: "Arial"
}

td {
	text-align:right;
	border-right : solid 1px  #000;
	border-bottom : solid 1px  #000;
	padding : 0 6px;
}

.item_name {
	background : #61ccff;
	color : #fff;
}

.combo {
	width : 30px;
}

.red {
	background : #ff9b9b;
}

.blue {
	background : #9de8ff;
}

.green {
	background : #bbffaf;
}

.yellow {
	background : #f8ff96;
}

.purple {
	background : #e3adff;
}